

.article-container {
	// position: fixed;
	width: $article-width;
	background-color: #FFF;

	padding: 200px (100% - $article-width)/2;
	transition: 0.5s linear;

	// font: 300 18px/30px Georgia,"Times New Roman",serif;

	font-size: 1rem;
    line-height: 1.5;
    font-family: "Georgia";
    max-width: 40rem;
    margin: 0 auto;

	transform: translate3d(0, 100vh, 0);
}
