// Index.scss

.index-container {
	margin-bottom: 20vh;
	padding: 10vh 0;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

.index-header {
	font-size: 3rem;
	text-align: center;
}

.headshot-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.headshot-link {
	$link-width: 15vw;
	$min-link-width: 8rem;
	display:flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	width: $link-width;
	height: $link-width * 3/2;
	min-width: $min-link-width;
	min-height: $min-link-width * 3/2;
	margin: 1rem 1rem;

	border: 1px solid #000;

	// background-image: url("content/index_thumbnails/Dali_thumbnail.jpg");
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.headshot-link .headshot-link-text {
	color: #FFF;
	text-shadow: 0 0 0.5rem #000, 0 0 0.3rem #000;
	font-size: 150%;
	line-height: 100%;
}

.headshot-link.Dali {
	background-image: url("content/index_thumbnails/Dali_thumbnail.jpg");
}

.headshot-link.Safa {
	background-image: url("content/index_thumbnails/Pzilla_thumnail.jpg");
}

.headshot-link.Lilli {
	background-image: url("content/index_thumbnails/Lilli_thumbnail.jpg");
}
