// Index.scss

.index-wrapper {
	text-align: center;
}

.index-box {
	border-radius: 0.3rem;
	border: 2px solid gray;
	margin: 30vh auto;
	transform: translate3d(0, 100px, 0);
	// text-align: center;
	display: inline-block;
	padding: 2%;
	background-color: rgba(255, 255, 255, 0.1);
	opacity: 0;
	transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
	width: 50%;
	min-width: 26rem;
	max-width: 30rem;
}

.index-box.animate-in {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

// Contents

.index-box > div{
	opacity: 0;
	transform: translate3d(0, 1rem, 0);
	transition: transform 0.3s ease-in-out 0.1s, opacity 0.3s ease-in-out 0.1s;
}

.index-box > div.animate-in {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.index-title {
	color: #FFF;
	font: $title-font;
	font-size: 3rem;
}

.index-header {
	color: #FFF;
	font: $title-font;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 2;
}

hr.index-hr{
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 1),
		rgba(255, 255, 255, 0));
}

.index-item {
}

.index-item .item-link {
	display: inline-block;
	color: #DDD;
	font-style: italic;
	transition: color 0.2s ease-in-out;
	cursor: pointer;
	font-size: 1.5rem;
	line-height: 1.15;
	margin-bottom: 1rem;
}

.index-item .item-link:hover{
	color: lighten($highlight-colour, 10%);
}

// Background Images

.index-background-container {
	background-color: #333;
	width: 100vw;
	height: 100vh;
}

.index-background-image {
	width: 100vw;
	height: 100vh;

	position: absolute;

	background: #333 no-repeat center center;
	background-size: cover;
	transition: opacity 0.75s linear;
	opacity: 0;
}

.index-background-image.show {
	opacity: 1;
}

#dali_bg.index-background-image {
	background-image: url(content/images/index_bg/Dali_TBC.jpg);
}

#mohammed_ali_bg.index-background-image {
	background-image: url(content/images/index_bg/MohamadAli_TBC.jpg);
}

#manel_bg.index-background-image {
	background-image: url(content/images/index_bg/Manel_TBC.jpg);
}

#safa_bg.index-background-image {
	background-image: url(content/images/index_bg/Safa_TBC.jpg);
}

#lilli_bg.index-background-image {
	background-image: url(content/images/index_bg/Lili_TBC.jpg);
}

#underground_church_bg.index-background-image {
	background-image: url(content/images/index_bg/Underground_TBC.jpg);
}

#islams_response_bg.index-background-image {
	background-image: url(content/images/index_bg/IslamsResponse_TBC.jpg);
}

#tunisian_society_bg.index-background-image {
	background-image: url(content/images/index_bg/TunisiasSoc_TBC.jpg);
}

#conclusion_bg.index-background-image {
	background-image: url(content/images/index_bg/Marwan_TBC.jpg);
}
