// Index.scss

.index-wrapper {
	text-align: center;
}

.index-box {
	border-radius: 0.3rem;
	border: 2px solid gray;
	margin: 30vh 0;
	transform: translate3d(0, 10vh, 0);
	// text-align: center;
	display: inline-block;
	padding: 1rem 3rem;
	background-color: rgba(255, 255, 255, 0.1);
	opacity: 0;
	transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
}

.index-box.animate-in {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

// Contents

.index-box > div{
	opacity: 0;
	transform: translate3d(0, 1rem, 0);
	transition: transform 0.3s ease-in-out 0.1s, opacity 0.3s ease-in-out 0.1s;
}

.index-box > div.animate-in {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.index-title {
	color: #FFF;
	font-size: 4vh;
}

.index-header {
	color: #FFF;
	font-size: 3vh;
}

hr.index-hr{
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 1),
		rgba(255, 255, 255, 0));
}

.index-item {
}

.index-item .item-link {
	display: inline-block;
	color: #DDD;
	font-style: italic;
	transition: color 0.2s ease-in-out;
	cursor: pointer;
	font-size: 2.2vh;
}

.index-item .item-link:hover{
	color: #FFF;
}

// Background Images

.index-background-container {
	background-color: #333;
	width: 100vw;
	height: 100vh;
}

.index-background-image {
	width: 100vw;
	height: 100vh;

	position: absolute;

	background: #333 no-repeat center center fixed;
	background-size: cover;
	transition: opacity 0.75s linear;
	opacity: 0;
}

.index-background-image.show {
	opacity: 1;
}

#dali_bg.index-background-image {
	background-image: url(content/images/index_bg/Dali_bg.jpg);
}

#manel_bg.index-background-image {
	background-image: url(content/images/index_bg/Manel_bg.jpg);
}

#mohammed_ali_bg.index-background-image {
	background-image: url(content/images/index_bg/MohammedAli_bg.jpg);
}
