.navbar {
	position: fixed;
	width: 100%;
	margin-top: -150px;
	opacity: 0;
	transition: margin-top 0.5s ease-out 0.1s, opacity 0.5s ease 0.1s;
	z-index: 3;
}

.navbar.show {
	opacity: 1;
	margin-top: 0;
}

$title-height: 2rem;

.navbar-first-level, .navbar-second-level {
	position: relative;
	width: 100%;
	min-width: $article-min-width;
	padding: 0.5rem 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.navbar-first-level {
	background: #333 url('content/images/preloader_bg.jpg') no-repeat left 24%;
	background-size: cover;
	z-index: 2;
}

.navbar-title {
	color: #444;
	float: left;
	font: $title-font;
	font-size: $title-height;
	font-weight: 400;
	margin: 0 1rem;
}

.navbar-item-container {
	// padding-right: 1.5rem;
	display:flex;
}

.navbar-item {
	margin: 0 1rem;
	cursor: pointer;
	color: #DDD;
	transition: color 0.2s ease-in-out;
	font: $title-font;
	font-weight:300;
	font-size: 1.25rem;
	text-align: center;

	.down-caret {
		height: 24px;
		vertical-align: text-top;
	}
}

.navbar-item:first-child {
	margin-left: 1.5rem;
}

.navbar-item:last-child {
	margin-right: 1.5rem;
}

.navbar-item:hover {
	color: #FFF;
}

.navbar-item.active, .navbar-item:active {
	color: $highlight-colour;
}


.navbar-second-level {
	display: flex;
	flex-direction: row-reverse;
	background-color: #DDD;
	margin-top: -2.5rem;
	z-index: 1;
	transition: margin-top 0.2s ease-out;

	.navbar-item-container {
	}

	.navbar-item {
		color: #333;
	}

	.navbar-item:hover {
		color: #999;
	}

	.navbar-item:active {
		color: $highlight-colour;
	}
}

.navbar-second-level.show {
	margin-top: 0;
}

#stories_container, #analysis_container {
	display:flex;
	margin-left:auto;
}

@media only screen and (max-width: 750px), only screen and (max-device-width: 750px) {
	.navbar-first-level, .navbar-second-level {
		justify-content: space-around;
	}

	.navbar-first-level {
		flex-direction: column;
	}
}
