.navbar {
	position: fixed;
	width: 100%;
	margin-top: -150px;
	opacity: 0;
	transition: margin-top 0.5s ease-out 0.1s, opacity 0.5s ease 0.1s;
	z-index: 3;
}

.navbar.show {
	opacity: 1;
	margin-top: 0;
}

$title-height: 2rem;

.navbar-first-level, .navbar-second-level {
	position: relative;
	width: 100%;
}

.navbar-first-level {
	background-color: #222;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	z-index: 2;
}

.navbar-title {
	color: #EEE;
	float: left;
	font-size: $title-height;
	padding: 0.5rem 1rem;
}

.navbar-item-container {
	padding: 0.5rem 1.5rem;
	display:flex;
}

.navbar-item {
	margin: 0 1rem;
	cursor: pointer;
	color: #DDD;
	transition: color 0.1s ease-in-out;

	.down-caret {
		height: 20px;
		vertical-align: text-top;
	}
}

.navbar-item:hover {
	color: #FFF;
}

.navbar-item.active, .navbar-item:active {
	color: $highlight-colour;
}


.navbar-second-level {
	display: flex;
	background-color: #DDD;
	margin-top: -2.5rem;
	z-index: 1;
	transition: margin-top 0.2s ease-out;

	.navbar-item-container {
		margin-left:auto;
	}

	.navbar-item {
		color: #333;
	}
}

.navbar-second-level.show {
	margin-top: 0;
}

#stories_container, #analysis_container {
	display:flex;
	margin-left:auto;
}
