// zeropoint3.css

$intro-buffer-height: 400vh;

$article-width: 70%;
$article-min-width: 30rem;
$section-text-max-width: 38rem;
$section-content-max-width: 58rem;

$highlight-colour: #E67A64;

$title-font: normal normal 100 1rem/normal "Alegreya Sans SC";
$article-font: "PT Serif", Georgia,Times,"Times New Roman",serif;
// $article-font: "Open Sans",Helvetica,Arial;

html {
	background-color: #EEE;
}

html.disable-scroll {
	height: 0;
	overflow: hidden;
}

html,body {
	margin: 0;
	padding: 0;
}

.hidden {
	visibility: hidden;
}

.no-size {
	position: absolute;
	width: 0 !important;
	height: 0 !important;
}

.fadeOut {
	opacity: 0;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
	@if $inset {
		-webkit-box-shadow:inset $top $left $blur $color;
		-moz-box-shadow:inset $top $left $blur $color;
		box-shadow:inset $top $left $blur $color;
	} @else {
		-webkit-box-shadow: $top $left $blur $color;
		-moz-box-shadow: $top $left $blur $color;
		box-shadow: $top $left $blur $color;
	}
}

@import "Preloader";
@import "Index";
@import "IntroVideos";
@import "Article";
@import "NavBar";
@import "Footer";
@import "libs/magnific";
