		<div class="section-subtitle" title="{{title}}">
			<hr/>
			{{#if image}}
				<a href="{{image}}">
					<img src="{{image}}" class="subtitle-media"/>
				</a>
			{{/if}}
			{{#if video}}
				<div class="subtitle-media">
					<video class="video-js vjs-default-skin"
							controls="true" 
							preload="none"
							poster='{{poster}}'
							data-setup='{ "aspectRatio":"16:9" }'>
						<source src="{{video.mp4}}" type="video/mp4"></source>
						<source src="{{video.webm}}" type="video/webm"></source>
					</video>
				</div>
			{{/if}}
			<div class="subtitle-text">
				{{title}}
			</div>
		</div>